.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

out/test/**
testCases/**
.esbuild.js
.nvmrc


node_modules/**
!node_modules/esbuild/**/*
!package.json